.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
}

.hero{
    max-width: 200px;
}

span{
    display: flex;
    gap: 25px;
    justify-content: center;


    a{
        margin: 0;

        img{
            width: 30px;
        }
 }   

 .btn{
    background-color: var(--btn-color);
    color: var(--btn-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgb( 0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms
    ease-in-out;
 }

 button:hover{
    transform: scale(1.05);
 }

 button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgb( 0, 0, 0, 0.25);
 }
}
.colorModeContainer{
    position: relative;
 }

.colorMode{
    position: absolute;
    right: 0;
    width: 25px;
}

.colorMode:hover{
    cursor: pointer;
}

.description{
    max-width: 24ch;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.currentJob {
    margin: 40px auto 0; /* 40px de margen superior, centrado horizontalmente */
    padding: 15px;
    border: 2px solid var(--text-color); /* Usa el color del texto para el borde */
    border-radius: 10px;
    background-color: var(--project-card-bg); /* Fondo según el modo */
    color: var(--text-color); /* Texto según el tema */
    text-align: center; /* Asegura que el texto esté centrado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Puedes ajustar el ancho según sea necesario */
    max-width: 500px; /* Máximo ancho para mantenerlo legible */
}

.currentJob h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color); /* Usa el color del texto */
}

.companyLogo {
    max-width: 100px;
    margin-bottom: 10px;
}

.currentJob p {
    font-size: 1.1rem;
    font-family: 'Roboto Mono', monospace; /* Coincide con la fuente general */
    color: var(--text-color);
}



@media(width >= 800px ){
    .container{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        
        .hero{
            max-width: 350px;
            width: 350px;
        }
    }
}

